.day {
  flex-grow: 1;
  height: 32px;
  width: 36px;
  margin: 3px 0px;
  line-height: 32px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.day:hover {
  background-color: rgba(200, 245, 245, 0.3);
}

.active {
  background-color: rgba(200, 245, 245, 0.6);
  font-weight: bold;
}

.highlight {
  background-color: rgba(255, 251, 204, 0.6);
}

.empty {
  cursor: default;
  border: transparent;
}

.empty:hover {
  background-color: transparent;
}